  .code_block {
    clear: both;
    margin: 12px 0;
  }
  .code_header {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #E0E0E0;
    border-color: #B6B6B6 #B6B6B6 -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    font-size: 12px;
    padding: 4px 7px;
    position: relative;
  }

  .code_block .highlight {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #777777 #777777;
    border-image: none;
    border-right: 1px solid #777777;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    font-size: 13px;
    line-height: 17px;
    margin: 0;
    overflow: auto;
    padding: 5px 7px;
  }

  .code_block pre {
    background-color: #232323;
    color: #E6E0DB;
    font-family: "Menlo","Courier New","Terminal",monospace;
  }

  div.highlight {
    background: #232323;
    padding: 5px 10px;
  }
  span.c1 {
    color: grey;
    font-style: italic;
  }
  span.o {
    color: grey;
  }
  span.p {
    color: grey;
  }
  span.no {
    color: #FFF;
    font-weight: bold;
  }
  span.si {
    color: #CB7832;
  }
  span.s1, span.s2 {
    color: #A4C260;
  }
  span.ss {
    color: #6C9CBD;
    font-weight: bold;
  }
  span.mi, span.k, span.kp {
    color: #CB7832;
    font-weight: bold;
  }
  span.n {
    color: #FFF;
  }
